@tailwind base;
@tailwind components;
@tailwind utilities;

.colors {
  color: #10f0fc;
  color: #10637d;
  color: #1c2025;
  color: #b3c3d7;
  color: #f2f2f2;
}

.box {
  filter: drop-shadow(0px 1.5px 2px rgb(0 0 0 / 0.5));
}

.fontRubik {
  font-family: "Rubik", sans-serif;
}
