@tailwind base;
@tailwind components;
@tailwind utilities;

.colors {
  color: #10f0fc;
  color: #10637d;
  color: #1c2025;
  color: #b3c3d7;
  color: #f2f2f2;
}

.box {
  filter: drop-shadow(0px 1.5px 2px rgb(0 0 0 / 0.5));
}

.fontRubik {
  font-family: "Rubik", sans-serif;
}
.fontNunito {
  font-family: "Nunito", sans-serif;
}
.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup="tooltip"].popup-overlay {
  background: transparent;
}

@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
.popup-content {
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

@layer base {
  ::-webkit-scrollbar-thumb {
    @apply bg-transparent shadow-sm;
  }
  ::-webkit-scrollbar {
    @apply w-2.5 bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-sm bg-[#2D9596] /*color trackbar*/;
  }
}
